main.page__content
  section.controls.u-vertical-rhythm(id="controls")
    h1.controls__label Select a cocktail
    .form-group
      input(type="radio" name="drink-select" id="negroni")
      label(for="negroni") Negroni
      input(type="radio" name="drink-select" id="manhattan")
      label(for="manhattan") Manhattan
      input(type="radio" name="drink-select" id="old-fashioned")
      label(for="old-fashioned") Old Fashioned
  
  section.cocktail
    h2.cocktail__label(id="drink-name")
    .glass(id="glass")
      .garnish
      .bowl
        .ingredient-colors(id="ingredient-colors")
        ul.ingredient-list(id="ingredient-list")
      .stem
      .base