main.page__content.u-vertical-rhythm
  h1.title(id="drink-name") Select
  .glass(id="glass")
    .garnish
    .bowl
      .ingredient-colors(id="ingredient-colors")
      ul.ingredient-list(id="ingredient-list")
    .stem
    .base
  
  .form-item
    label(for="drink-list") Select a drink
    .form-group
      select(id="drink-list")
        option(value="Negroni") Negroni
        option(value="Manhattan") Manhattan
        option(value="Old Fashioned") Old Fashioned
      button.btn.btn--primary(id="make-drink") Make it!